
@*        <form method="post" enctype="multipart/form-data" asp-controller="Archivos" asp-action="Index">
            <div class="form-group"> 
                <div class="col">
                    <p>Subir archivos</p>
                    <input type="file" name="files" multiple/>
                    <input name="usuario" placeholder="NombreCarpetaNueva"/>
                </div>
            </div>
            <div>
                <div class="col"> 
                    <input type="submit"/>
                </div>
            </div>
        </form>*@
